RWR.Client/Service References/IssuesServiceWCF/IssuesService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RWR.MessageContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RWR.MessageContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="BaseRequest">
    <xs:sequence>
      <xs:element name="ClientTransactionId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseRequest" nillable="true" type="tns:BaseRequest" />
  <xs:complexType name="BaseResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="BaseResponse" nillable="true" type="tns:BaseResponse" />
</xs:schema>