RWR.Client/Service References/IssuesServiceWCF/IssuesServiceWCF.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://www.RobertRisley.com/2010" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://tempuri.org/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="IssuesServiceWCF" targetNamespace="http://www.RobertRisley.com/2010" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://tempuri.org/" location="http://localhost/IssuesService?wsdl=wsdl0" />
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.RobertRisley.com/2010/Imports">
      <xsd:import schemaLocation="http://localhost/IssuesService?xsd=xsd0" namespace="http://www.RobertRisley.com/2010" />
      <xsd:import schemaLocation="http://localhost/IssuesService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/IssuesService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RWR.MessageContracts.Issues" />
      <xsd:import schemaLocation="http://localhost/IssuesService?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/RWR.MessageContracts" />
      <xsd:import schemaLocation="http://localhost/IssuesService?xsd=xsd4" namespace="http://www.RobertRisley.com/IssuesCD.xsd" />
      <xsd:import schemaLocation="http://localhost/IssuesService?xsd=xsd5" />
      <xsd:import schemaLocation="http://localhost/IssuesService?xsd=xsd6" namespace="http://www.RobertRisley.com/CodesCD.xsd" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IssuesContract_GetIssues_InputMessage">
    <wsdl:part name="parameters" element="tns:GetIssues" />
  </wsdl:message>
  <wsdl:message name="IssuesContract_GetIssues_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetIssuesResponse" />
  </wsdl:message>
  <wsdl:message name="IssuesContract_GetIssues_UnspecifiedFault_FaultMessage">
    <wsdl:part name="detail" element="tns:UnspecifiedFault" />
  </wsdl:message>
  <wsdl:message name="IssuesContract_UpdateIssues_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateIssues" />
  </wsdl:message>
  <wsdl:message name="IssuesContract_UpdateIssues_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateIssuesResponse" />
  </wsdl:message>
  <wsdl:message name="IssuesContract_GetPriorityTypeCodes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPriorityTypeCodes" />
  </wsdl:message>
  <wsdl:message name="IssuesContract_GetPriorityTypeCodes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPriorityTypeCodesResponse" />
  </wsdl:message>
  <wsdl:message name="IssuesContract_Ping_InputMessage">
    <wsdl:part name="parameters" element="tns:Ping" />
  </wsdl:message>
  <wsdl:message name="IssuesContract_Ping_OutputMessage">
    <wsdl:part name="parameters" element="tns:PingResponse" />
  </wsdl:message>
  <wsdl:portType name="IssuesContract">
    <wsdl:operation name="GetIssues">
      <wsdl:input wsaw:Action="GetIssues" message="tns:IssuesContract_GetIssues_InputMessage" />
      <wsdl:output wsaw:Action="http://www.RobertRisley.com/2010/IssuesContract/GetIssuesResponse" message="tns:IssuesContract_GetIssues_OutputMessage" />
      <wsdl:fault wsaw:Action="http://www.RobertRisley.com/2010/IssuesContract/GetIssuesUnspecifiedFault" name="UnspecifiedFault" message="tns:IssuesContract_GetIssues_UnspecifiedFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateIssues">
      <wsdl:input wsaw:Action="UpdateIssues" message="tns:IssuesContract_UpdateIssues_InputMessage" />
      <wsdl:output wsaw:Action="http://www.RobertRisley.com/2010/IssuesContract/UpdateIssuesResponse" message="tns:IssuesContract_UpdateIssues_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPriorityTypeCodes">
      <wsdl:input wsaw:Action="GetPriorityTypeCodes" message="tns:IssuesContract_GetPriorityTypeCodes_InputMessage" />
      <wsdl:output wsaw:Action="http://www.RobertRisley.com/2010/IssuesContract/GetPriorityTypeCodesResponse" message="tns:IssuesContract_GetPriorityTypeCodes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <wsdl:input wsaw:Action="Ping" message="tns:IssuesContract_Ping_InputMessage" />
      <wsdl:output wsaw:Action="http://www.RobertRisley.com/2010/IssuesContract/PingResponse" message="tns:IssuesContract_Ping_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="IssuesServiceWCF">
    <wsdl:port name="NetTcpBinding_IssuesContract" binding="i0:NetTcpBinding_IssuesContract">
      <soap12:address location="net.tcp://localhost:8080/IssuesService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8080/IssuesService</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>